/* css reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* modal */
.modal-dialog {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 30px;
  max-width: 300px;
}

.main-container {
  min-height: calc(100vh - 269px);
}

/* icons */
.icon {
  font-size: 5.5em !important;
}

/* adds border between youtube and wiki sections (not currently needed) */
/* #youtube-header,
#youtube-iframe {
  border-right: 1.8px solid rgb(195, 195, 195);
} */

/* individual wiki containers */
.wikiElContainer,
.youtubeElContainer {
  margin: 20px;
  padding: 15px 20px;
  border: 1.8px solid rgb(195, 195, 195);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.youtube-video {
  aspect-ratio: 16 / 9;
  width: 100%;
  border-radius: 5px;
}

footer {
  height: 40px;
}

/* media query for content section borders/ padding */
/* Apply styles for screens with a width of 768 pixels or larger (medium and above) */
@media screen and (min-width: 768px) {
  .border-top-on-md {
    border-top: none !important;
    padding-top: 0 !important;
  }
}

/* modal media query */
@media screen and (max-width: 575px) {
  .modal-dialog {
    margin-bottom: 30px;
    margin-left: 30px;
    max-width: 200px;
  }
  .header-logo {
    height: 105px;
    width: auto;
  }
}

/* For small to medium devices*/
@media screen and (min-width: 577px) and (max-width: 768px) {
  .header-logo {
    height: 80px;
  }
}
