/* css reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* setting font to body (may be needed later) */
/* body {
  font-family: "Lato", sans-serif;
} */

/* mainContainer */

/* header section */

/* hero section */
.icon {
  font-size: 5.5em !important;
}
